
/* baseline CSS from: https://meyerweb.com/eric/thoughts/2007/04/14/reworked-reset/ */

/* Don't forget to set a foreground and background color 
   on the 'html' or 'body' element! */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd,
dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/* Sailfish: make everything bigger: */

/* body,td,th { font-family: sans-serif, arial, helvetica, helv; } */
/* body { background-color: #ffffff; color: #000000; } */
/* stolen from https://sailfishos.org/wiki/ */
/* body{font-family:"sail sans pro","DejaVu Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:32px;line-height:1.42857143;color:#333;background-color:#fff} */
body{font-family:"DejaVu Sans Condensed", "sail sans pro light","DejaVu Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:24px;line-height:1.42857143;color:#333;background-color:#fff}

html {
  margin:     0 auto;
}

/* Xperia 10/X/XA2 portrait */
@media screen and (max-width: 1080px) {
  html {
    max-width:  1000px;
  }
}

/* Xperia X/XA2 landscape */
@media screen and (max-width: 1920px) {
  html {
    max-width:  1860px;
  }
}

/* Xperia 10 landscape */
@media screen and (max-width: 2520px) {
  html {
    max-width:  2480px;
  }
}

/* Tablet ??? */
@media screen and (max-width: 2048px) {
  html {
    max-width:  2000px;
  }
}


h1 { font-size: 140%; margin: 0px; }
h2 { font-size: 120%; margin: 0px; }
h3 { font-size: 110%; margin: 0px; }

p,pre  { margin-left: 15px; }
li { margin: 2px 15px; }
dl { margin: 2px 15px; }

a:link    { color: #007070; text-decoration: none;  font-weight: bold;}
a:visited { color: #7ebec5; text-decoration: none;  font-weight: bold;}
a:active  { color: #3333ff; text-decoration: none;  font-weight: bold;}
a:hover   { color: #23527c; text-decoration: underline;  font-weight: bold;}


